*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    background-image: url(cool-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 200ms;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(250, 250, 250, 0);
    position: fixed;
    width: 100%;
}

.name {
    font-size: 2.5rem;
    margin: 1rem 0 1rem 2rem;
}

.settings {
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.units {
    margin: 1rem;
}

.checkbox {
    margin-left: 1rem;
    width: 65px;
    height: 2.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #49454f;
    border-radius: 30px;
    border: solid 2.5px #938f99;
    transition: border-color 200ms, background-color 200ms;
    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #938f99;
    transition: ease width 200ms, height 200ms, trasnform 200ms background-color 200ms;
}

.checkbox.on {
    border-color: #121212;
    background-color: #121212;
}

.checkbox.on::before{
    background-color: #fff;
    width: 30px;
    height: 30px;
    transform: translateX(22.5px);
}

.input {
    padding-top: 25%;
}

.inputtext {
    display: flex;
    align-items: flex-start;
}

.weatherloc {
    margin: 1rem 0 0 5rem;
    background-color: rgba(0, 0, 0, 0);
}

.cityname {
    margin: 0 1rem 0 5rem;
    padding: 12px;
    font-size: 1.3rem;
    border: 0;
    width: 30rem;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    border: #000 solid 2px;
}

.search {
    font-size: 1.8rem;
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 50%;
}

.fullcont {
    display: flex;
    align-items: center;
    display: none;
    margin: 0 5rem;
    justify-content: center;
    color: #000;
}

.temp {
    font-size: 8rem;
    font-weight: 600;
}

.weatherdes {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.icont {
    height: 25rem;
    width: 30rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-bottom: 0;
    position: relative;
}

.icon {
    font-size: 16rem;
    position: absolute;
    bottom: -6.9rem;
    color: #000;
}

.infocont {
    margin-left: 16rem;
}

.allinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.3rem;
    margin: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 9rem);
    grid-template-rows: repeat(2, 9rem);
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin: 3rem 0 0 0;
}

.box {
    border-radius: 1rem;
    background-color: rgb(240, 240, 240);
    height: 9rem;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box>i {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.box>.val {
    margin-top: 0.5rem;
    font-size: 1.3rem;
}

.box>.label {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 40%;
}

.countryname {
    font-size: 2rem;
    margin: 1rem 0 0 5rem;
}

.longi, .latit {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mode,.units, .name {
        transform: scale(0.6);
        margin: 1rem 0 0 0;
    }

    .settings {
        margin: 0;
        display: flex;
    }

    .topbar{
        justify-content: center;
    }

    .fullcont {
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .icont, .infocont{
        transform: scale(0.7);
        margin: 0;
    }
    .cityname, .search{
        margin: 1rem 0.3rem;
    }
    .infocont {
        height: 100%;
        width: 100%;
    }
    .grid{
        grid-template-columns: repeat(2, 6rem);
        grid-template-rows: repeat(3, 6rem);
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
        margin: 0 0 0 1.8rem;
        padding: 0;
    }
  }

.button {
  align-items: center;
  appearance: none;
  background-color: #b1b1b100;
  border-radius: 24px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;   
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  border: 1px solid #121212;
}

.button:hover {
  color: #fff;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

